
{block content}
<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

<div id="container" class="my-shadow">
    <a href="kompletni" style="text-decoration: none; display: inline-block"><input type="button" value="Kompletní" class="button edit" /></a>
    <a href="nekompletni" style="text-decoration: none; display: inline-block"><input type="button" value="Nekompletní" class="button edit" /></a>
    <a href="hledam" style="text-decoration: none; display: inline-block"><input type="button" value="Jednotlivec" class="button edit" /></a>
    <hr />
</div>