{var $robots = noindex}
{block #content}
 
    <div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div>

<div id="container" class="my-shadow">


    <div id="content">


        <h1 n:block=title>Pro vstup do této sekce je nutné přihlášení</h1>

{control signInForm}
                </div>
                </div>
                