{block content}


<div n:foreach="$flashes as $flash" class="flash {$flash->type}">{$flash->message}</div> 



<div id="container" class="my-shadow">
    <img src="" height="300" />

    <div id="content">

    </div>



</div>



<div id="footer">ahoj footer</div>





{/block}